body {
  background-color: black;
  overflow: hidden;
}

#logo_invasori {
  font-size: 1.9vw;

  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  opacity: 0;

  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);

  -webkit-animation: fadein 3s;
     -moz-animation: fadein 3s;
      -ms-animation: fadein 3s;
       -o-animation: fadein 3s;
          animation: fadein 3s;

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  #logo_invasori {
    font-size: .9vw;
  }
}

@keyframes fadein {
    0%   { opacity: 0; }
    20%  { opacity: 1; }
    80%  { opacity: 1; }
    100% { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    0%   { opacity: 0; }
    20%  { opacity: 1; }
    80%  { opacity: 1; }
    100% { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0%   { opacity: 0; }
    20%  { opacity: 1; }
    80%  { opacity: 1; }
    100% { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    0%   { opacity: 0; }
    20%  { opacity: 1; }
    80%  { opacity: 1; }
    100% { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    0%   { opacity: 0; }
    20%  { opacity: 1; }
    80%  { opacity: 1; }
    100% { opacity: 0; }
}